html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    flex-shrink: 0;
    margin: 15px 0;
}

#main-content {
    flex-grow: 1;
    display: flex;
    overflow: hidden; /* Prevent entire page from scrolling */
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

#map-container {
    flex: 3; /* Takes 3/4 of the space */
    position: relative;
    border: 1px solid #ccc;
    overflow: auto; /* Make the container scrollable */
    margin-right: 20px;
}

#map-container img {
    display: block;
    cursor: pointer;
}

#station-info {
    flex: 1; /* Takes 1/4 of the space */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: auto;
}

#station-info h3 {
    margin-top: 0;
    color: #333;
}

#station-info p {
    color: #555;
}
